.users
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    button
        margin-top: 32px;
        width: 148px;
        height: 50px;
        font-family: Nunito-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        background: #F4E041;
        border-radius: 80px;
        border: none;
        padding: 12px 16px;
        cursor: pointer;
    .user-title
        
    .users-catalog
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        