.modal
    position: absolute;
    width: 100%;
    background: rgba(0,0,0, .2);
    backdrop-filter: blur(10px);
    .modal-body
        position: relative;
        text-align: center;
        width: 100%;
        border-radius: 10px;
        max-height: 100%;
        h3
            font-family: Nunito-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 31px;
            display: flex;
            align-items: flex-end;
        div
            font-family: Nunito-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: rgba(0, 0, 0, 0.87);
        button
            margin-top: 32px;
            width: 148px;
            height: 50px;
            font-family: Nunito-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            background: #F4E041;
            border-radius: 80px;
            border: none;
            padding: 12px 16px;
            cursor: pointer;


