.header 
    width: 1170px;
    background-color: white;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    .header-nav
        width: 489px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a
            font-family: Nunito-Regular;
            font-size: 16px;
            color: black;
            text-decoration: none;
            font-weight: normal;
            line-height: 26px;
        a:visited
            color: #00BDD3;
        a:hover
            color: #00BDD3;
            background: rgba(0, 189, 211, 0.1);
            border-radius: 4px;
            padding: 7px 16px;

